{% extends 'core/base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white font-semibold">Login Form</h1>
    <!-- Login Form -->
    <form action="." method="post" class="w-1/4 p-10 mx-auto flex flex-col gap-5">
        {% csrf_token %}
        <!-- For username -->
        <div>
            <label for="username" class="text-white text-2xl">Enter Username</label><br>
            <input required type="text" name="username" id="id_username" class="px-4 py-2 rounded-xl">
        </div>
        
        <!-- For password1 -->
        <div>
            <label for="username" class="text-white text-2xl">Enter Password</label><br>
            <input required type="password" name="password1" id="id_password1" class="px-4 py-2 rounded-xl">
        </div>

        <input type="submit" value="Login" class="bg-teal-800 px-6 py-3 rounded-2xl transition ease-out hover:bg-green-400 text-xl font-semibold">

         {% if form.errors %}
            {% for field in form %}
                <div class="mb-5 p-4 round-xl bg-red-300 text-white">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
         {% endif %}
    </form>
</div>
{% endblock %}