{% extends 'core/base.html' %}

{% block title %}
Rooms
{% endblock %}

{% block content %}
<!-- Title: Rooms -->
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white font-semibold">Rooms</h1>
</div>
<!-- list of rooms -->
<div class="flex flex-wrap w-full items-center">
    {% for room in rooms %}
    <div class="w-full lg:w-1/4 p-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <h3 class="text-2xl mb-5 font-semibold">{{room.name}}</h3>
            <a href="{% url 'room' room.slug %}" class="px-5 py-3 rounded-xl block text-white bg-teal-500 hover:bg-teal-700">Join</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}