{% extends 'core/base.html' %}

{% block title %}
{{room.name}}
{% endblock %}

{% block content %}
<!-- Room name -->
<div class="p-10 lg:p-20 lg:py-10 text-center">
    <h1 class="text-3xl lg:text-6xl text-white font-semibold">{{ room.name }}</h1>
</div>
<!-- chat box interface -->
<div class="lg:w-1/2 p-4 rounded-xl lg:mx-auto bg-white">
    <div class="chat-messages mb-3" id="chat-messages">

        <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">username</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae optio voluptas.</p>
        </div>
    </div>
    <div class="chat-messages mb-3" id="chat-messages">
        <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">username</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae optio voluptas.</p>
        </div>
    </div>
    <div class="chat-messages mb-3" id="chat-messages">
        <div class="p-4 bg-gray-200 rounded-xl">
            <p class="font-semibold">username</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus repudiandae optio voluptas.</p>
        </div>
    </div>
</div>
<!-- input message option -->
<div class="lg:w-1/2 p-4 rounded-xl lg:mx-auto bg-white mt-5">
    <form action="." method="post" class="flex items-center gap-5">
        {% csrf_token %}
        <input type="text" name="content" id="id_content" placeholder="Enter message..." class="px-4 py-2 w-4/5 rounded-xl border border-2 border-gray-400">
        <input type="submit" value="Send" class="bg-teal-500 px-4 py-2 w-1/5 rounded-xl">
    </form>
</div>
{% endblock %}